<div>
  {{#user}}
    <form action="/logout" method="post">
      Hello, {{ username }}
      <button>Logout</button>
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
    </form>
           
  	{{#isAdmin}}
		<a href="/invoices">Invoices</a>
		<a href="/billing-records">Billing Records</a>
		<a href="/admin/companies">Companies</a>  	 
    {{/isAdmin}}      

  	{{#isAccountant}}
		<a href="/invoices">Invoices</a>	 
    {{/isAccountant}}       

  	{{#isClerk}}
		<a href="/billing-records">Invoices</a>	 
    {{/isClerk}}  
          
  {{/user}}
  
  {{#notUser}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  {{/notUser}}
</div>